.navbar-header{
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.navbar-logo{
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.navbrand-img{
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

h4{
  padding: 0px 10px 0px 10px;
}

.dlbt{
  border-radius: 8px;
  background-color: #058cba; 
  color: white;
  width: 100px;
}
.dlbt:hover{
  color: white;
  font-weight: 700;
}