.navbar-header{
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.navbar-logo{
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.navbrand-img{
  margin: 0;
  padding: 0;
  vertical-align: middle;
}