.plotly .html-widget .html-widget-static-bound .js-plotly-plot{
  width: inherit !important;
  height: inherit !important;
}

.svg-container{
  width: inherit !important;
  height: inherit !important;
}